 # http://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{conf,css,html,js,json,sass,scss,vue,yaml,yml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[{*.mk,Makefile,modd.conf}]
indent_style = tab

[*.py]
max_line_length = 100
multi_line_output = 3
