.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Mine
*.cache
*.crt
*.last-run
*.lock
*.log
*.merged-ca-bundle
*.system-ca-bundle
*.user-ca-bundle
.secrets
apps/*-x64/*
apps/*/*-darwin-x64/*
apps/*/build/*
home/.maid/*.log.[0-9]
roles

### start of include list...

# track these files, if they exist
!.gitignore
!.editorconfig
