alias brew-outdated="brew outdated --fetch-HEAD"
alias chrome="/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome"
alias gist="gist -p"
alias got="git"
alias nw="~/node_modules/nwjs/nwjs.app/Contents/MacOS/nwjs"
alias outdated="brew update; brew outdated; brew cask outdated; mas outdated"
alias pip-outdated="PIP_REQUIRE_VIRTUALENV=false pip list --outdated"
alias subl="/Applications/Sublime\ Text.app/Contents/SharedSupport/bin/subl"

pip-update() {
    for version in $(pyenv versions --bare) ; do
        echo "Upgrading Python $version"
        pyenv shell $version
        pyenv which python
        PIP_REQUIRE_VIRTUALENV=false python -m pip install --upgrade pip virtualenv virtualenvwrapper wheel
    done

    # Update one-offs for our main "global" python
    echo "Upgrading Global Python"
    pyenv shell 3.6.3
    pyenv which python
    PIP_REQUIRE_VIRTUALENV=false python -m pip install --upgrade pipsi
    pipsi upgrade pipenv

    # To update everything under pipsi
    # $ pipsi-tool upgrade-all
}
