
#PATH="${PATH}:/usr/local/bin"
#PATH="${PATH}:/usr/local/sbin"

#export ARCHFLAGS="-Wno-error=unused-command-line-argument-hard-error-in-future"
export ARCHFLAGS="-Werror=unused-command-line-argument"
# export CFLAGS="-I$(xcrun --show-sdk-path)/usr/include"
export CPPFLAGS="-I/usr/local/opt/readline/include"
export HISTCONTROL="ignoredups"
export HISTFILESIZE=50000000
export HISTIGNORE=" *:ls:cd:cd ~:date:exit:export:history:pwd:* --help"
export HISTSIZE=$HISTFILESIZE
export LANG="en_US.UTF-8"
export LC_ALL="en_US.UTF-8"
export LDFLAGS="-L/usr/local/opt/readline/lib"
export LD_LIBRARY_PATH="/usr/local/lib"

# experimental prompt
export PS1='✨ \[\e[0;36m\]\[\e[0;36m\] \W\[\033[0;35m\]$(__git_ps1 " (%s)")\[\e[0m\]: '

if [[ -e ${HOME}/bin ]] ; then
  PATH="${HOME}/bin:${PATH}"
fi

# --------------------------------------------------
# git settings
# --------------------------------------------------

export GIT_PS1_SHOWDIRTYSTATE=true
export GIT_PS1_SHOWUNTRACKEDFILES=true
export GIT_PS1_SHOWCOLORHINTS=true

# --------------------------------------------------
# golang settings
# --------------------------------------------------

export GOPATH="$HOME/golang"
export GOROOT=/usr/local/opt/go/libexec
PATH="${PATH}:$GOPATH/bin"
PATH="${PATH}:$GOROOT/bin"

# --------------------------------------------------
# Heroku Toolbelt settings
# --------------------------------------------------

PATH="${PATH}:/usr/local/heroku/bin"

# --------------------------------------------------
# python settings
# --------------------------------------------------

export PYTHONDONTWRITEBYTECODE=1

## pip settings
export PIP_DOWNLOAD_CACHE="/tmp/.pip/download_cache"
export PIP_REQUIRE_VIRTUALENV="true"
export PIP_RESPECT_VIRTUALENV="true"

## pipsi settings
PATH="${PATH}:~/.local/bin"

## pyenv settings
export PYENV_ROOT="${HOME}/.pyenv"
export PYENV_VIRTUALENVWRAPPER_PREFER_PYVENV="true"
PATH="${PATH}:${PYENV_ROOT}/bin"

# --------------------------------------------------
# node settings
# --------------------------------------------------

PATH="${PATH}:/usr/local/share/npm/bin"
PATH="${PATH}:/usr/local/node_modules/.bin"

# --------------------------------------------------
# ruby settings
# --------------------------------------------------

PATH="${PATH}:$(brew --prefix ruby)/bin"

## rbenv settings
export RBENV_ROOT="/usr/local/var/rbenv"

# --------------------------------------------------
# clean / done
# --------------------------------------------------

export PATH
