
PATH=/usr/local/bin:/usr/local/sbin:/usr/local/share/npm/bin:$PATH
export PATH

if [[ -e $HOME/bin ]] ; then
  export PATH=$HOME/bin:$PATH
fi

export PATH=$(brew --prefix ruby)/bin:$PATH
export PATH=/usr/local/node_modules/.bin:$PATH
export PATH=~/.local/bin:$PATH

export EDITOR='nano'

## i7 gcc / 4.2.1 hack - to fix some odd install errors... ala http://stackoverflow.com/questions/5366882/installing-pil-on-os-x-snow-leopard-w-xcode4-no-ppc-support
export ARCHFLAGS=-Wno-error=unused-command-line-argument-hard-error-in-future

## history
export HISTCONTROL=erasedups
export HISTSIZE=10000

## pyenv settings
export PYENV_ROOT="$HOME/.pyenv"
export PATH="$PYENV_ROOT/bin:$PATH"
export PYENV_VIRTUALENVWRAPPER_PREFER_PYVENV="true"
if which pyenv > /dev/null; then eval "$(pyenv init -)"; fi
if which pyenv-virtualenv-init > /dev/null; then eval "$(pyenv virtualenv-init -)"; fi

#pyenv virtualenvwrapper
pyenv virtualenvwrapper_lazy

## pip settings
export PIP_DOWNLOAD_CACHE=/tmp/.pip/download_cache
export PIP_REQUIRE_VIRTUALENV=true
export PIP_RESPECT_VIRTUALENV=true
#export VIRTUALENVWRAPPER_PYTHON=/usr/bin/python
