[user]
	email = jeff.triplett@gmail.com
	name = Jeff Triplett
	signingkey = 38BA20AB5F258B23

[github]
    user = jefftriplett

[alias]
    st = status
    d = diff
    ci = commit -v
    cia = commit -v -a
    lm = log master..
    co = checkout
    cp = cherry-pick
    l = log --graph --topo-order --decorate --first-parent
    lc = log ORIG_HEAD.. --stat --no-merges
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s - %C(yellow)%aN%Creset %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    ll = log -p
    llt = log -p trunk..
    lt = log trunk..
    llm = log -p master..
    b = branch
    undo = reset --soft HEAD^

[apply]
    whitespace = fix

[branch]
    autosetuprebase = always

[color]
    diff = auto
    branch = auto
    status = auto
	ui = true

[core]
	excludesfile = ~/.gitignore
    editor = nano
    #editor = subl
    rebase = true

[diff]
    renames = true

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =

[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[mergetool]
	keepBackup = true

[push]
	default = tracking
    #default = simple
[rerere]
	enabled = true
[commit]
	gpgsign = true
[gpg]
	program = /usr/local/bin/gpg
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
