[include]
    path = .personal.gitconfig

[alias]
    ci = commit -v
    cia = commit -v -a
    st = status
    undo = reset --soft HEAD^
    wow = log --all --graph --decorate --oneline --simplify-by-decoration

[apply]
    whitespace = fix

[branch]
    autosetuprebase = always

[color]
    diff = auto
    branch = auto
    status = auto
    ui = true

[commit]
    gpgsign = true

[core]
    attributesFile = ~/.gitattributes
    excludesfile = ~/.gitignore
    editor = nano
    #editor = subl
    rebase = true
	# pager = git-split-diffs --color | less -RFX
    pager = delta

[diff]
    renames = true

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[gpg]
    program = /usr/local/bin/gpg

[init]
    defaultBranch = main

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    light = false    # set to

[mergetool]
    conflictstyle = diff3
	keepBackup = true

[push]
    default = tracking
	autoSetupRemote = true
    #default = simple

[rerere]
    enabled = true

[submodule]
	recurse = true

# some tips:

# [protocol "http"]
# allow = never

# [protocol "git"]
# allow = never

[fetch]
    fsckObjects = true
	prune = true

[receive]
    fsckObjects = true

[transfer]
    fsckObjects = true
