*.bak
*.DS_Store
*.egg-info
*.html.py
*.md5
*.o
*.orig
*.pickle
*.pyc
*.pyo
*.so
*.svn
*.svn/*
*.tmp
*~
.\#*
.coverage
.DS_Store
.hg
.hgignore
.installed.cfg
.personal.gitconfig
.pip/download_cache
.Python
.sass-cache
.sass-cache/*
.svn
.svn/*
.tox
\#*.*\#
coverage/
develop-eggs
development.ini
development_*.ini
downloads
eggs
include/
lighttpd.**
minica-key.pem
minica.pem
package-lock.json
parts
production.ini
reports/
src/*-git/*
src/*-hg/*
src/*-svn/*
src/*.egg-info
staging.ini
tmtags
