<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>homebrew.mxcl.ollama</string>
	<key>LimitLoadToSessionType</key>
	<array>
		<string>Aqua</string>
		<string>Background</string>
		<string>LoginWindow</string>
		<string>StandardIO</string>
		<string>System</string>
	</array>
	<key>ProgramArguments</key>
	<array>
		<string>/opt/homebrew/opt/ollama/bin/ollama</string>
		<string>serve</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/opt/homebrew/var/log/ollama.log</string>
	<key>StandardOutPath</key>
	<string>/opt/homebrew/var/log/ollama.log</string>
	<key>WorkingDirectory</key>
	<string>/opt/homebrew/var</string>
    <key>EnvironmentVariables</key>
    <dict>
		<key>OLLAMA_FLASH_ATTENTION</key><string>true</string>
		<key>OLLAMA_KEEP_ALIVE</key><string>30m</string>
		<key>OLLAMA_KV_CACHE_TYPE</key><string>f16</string>
        <key>OLLAMA_HOST</key><string>0.0.0.0:11434</string>
        <key>OLLAMA_ORIGINS</key><string>http://*</string>
    </dict>
</dict>
</plist>
